/* Main marketing message and sign up button */
.jumbotron {
  height:300px;
  margin-top:10px;
  text-align: center;
  
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  color: #ff004d;
}
.jumbotron h1 {
  font-size:600%;
  font-family: 'Lobster', cursive;
}
.jumbotron p {
  font-size:200%;
  font-family: 'Lobster', cursive;
}

.container {
  width:70%;
}
