/* Everything but the jumbotron gets side spacing for mobile first views */
/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 5px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  
  background: url(https://github.com/rschuster3/keep_trackin/blob/gh-pages/images/title2.jpg) no-repeat center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  color: #ffffff;
  
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}