/* Main marketing message and sign up button */
.jumbotron {
  margin-bottom:20px;
  text-align: center;

  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;

  color: #333;
}
.jumbotron h1 {
  font-size:600%;
  font-family: 'Lobster', cursive;
}
.jumbotron p {
  font-size:200%;
  font-family: 'Lobster', cursive;
}

.jumbotron background-img {
  opacity:0.5;
}

@media screen and (max-width: 600px) {
  .jumbotron h1 {
    font-size:300%;
  }
  .jumbotron p {
    font-size:150%;
  }
}

